/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&family=Poppins:ital,wght@0,300;0,400;1,300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&family=Poppins:wght@500&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none !important;
  /* background-color: #ADADAD; */
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
:root {
  --text-color: #000000;
  --main-color: #83b735;
  --white-color: #fff;
  /* --main-color:#000a89; */
  /* --main-color:#5C4033; */
}

section {
  padding: 50px 10%;
}

header p img {
  padding-right: 3px;
}

/* header img{
  margin-bottom: 14px;
  padding-right: 3px;
}
.logo{
  padding-right: 60px;
} */
.hidden {
  display: none;
}

label {
  margin-bottom: 10px;
  display: block;
}
header {
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  background: #edecea;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
}

.nav-profile {
  font-size: 2.2rem;
  padding-top: 10px;
  cursor: pointer;
  color: #000;
}


.bxs-shopping-bag-alt{
  position: relative;
  font-size: 2.2rem;
  padding-top: 10px;
  margin-right: 5px;
  cursor: pointer;
  color: #000;
}
#nav-cart[data-quantity="0"]::after{
  content: '';
}
#nav-cart[data-quantity]::after{
  content: attr(data-quantity);
  position: absolute;
  top:0;
  margin:3px;
  right: -6px;
  width:20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  color: var(--white-color);
  font-size:12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: -1; */
}

.auth {
  position: relative;
  z-index: -1;
}

.auth li {
  padding-right: 2px;
}

/* .items{
    padding: 7px 32px;
    display: flex;
} */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  margin-top: 100px;
  position: relative;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: -1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  /* padding: 0px 35px; */
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--text-color)
}

.logo span {
  color: var(--main-color)
}

.navbar {
  position: relative;
  display: flex;

}

.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 500;
  color: black;
}

.navbar a:hover {
  color: var(--main-color)
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  padding-top: 12px;
  display: none;
}
.sub-wrap{
  position: absolute;
  top: 100%;
  right: 10%;
  width: 350px;
  max-height: 00px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.sub-wrap.open-menu{
  max-height: 390px;
}
.submenu{
  background: #fff;
  padding: 20px;
  margin: 10px;
}
.info-user{
  display: flex;
  align-items: center;
}
.info-user,
#profile-editprofile,
#profile-logout{
  display: none;
}


.info-user h4{
  font-size: 22px;
  font-weight: 500;
  color: #000000;
}
.info-user img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;

}
.nav-profile-login{
  margin-top: 7px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  border: #8fc53d solid 2px;
}
.submenu hr{
  border: 1px;
  height: 1.5px;
  width: 100%;
  background: #2c2c2c;
  margin: 15px 0 10px;

}
.sub-menu-link span{
  font-size: 22px;
  transition: transform 0.5s;
}
.sub-menu-link:hover span{
  transform: translateX(5px);
}

.sub-menu-link{
  display: flex;
  align-items: center;
  color:#525252;
  margin: 12px 0;
}
.sub-menu-link p{
  padding-top: 10px;
  width: 100%;
}
.sub-menu-link:hover p{
  font-weight: 600;
}

.sub-menu-link i{
  font-size: 30px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}
.bxs-cog{
  color:rgb(46, 46, 46);
}
.bx-support{
  color: rgb(59, 59, 253);
}
.bx-log-out{
  color: rgb(255, 62, 62);
}
.bx-log-in{
  color: green;
}

.home {
  width: 100%;
  min-height: 100vh;
  background-image: url('https://media.designcafe.com/wp-content/uploads/2021/03/12184904/white-bedroom-designs-for-your-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.home_txt h1 {
  font-size: 2.7rem;
}

.home_txt p {
  font-size: 1rem;
  margin: 0.4rem 0 1.8rem;
}

.home_txt .color,
.home_txt .color1 {
  color: var(--main-color)
}

.auth {
  position: relative;
  display: flex;
}

.btn1 {
  padding: 10px;
  background: #edecea;
  border: none;

  cursor: pointer;

}

.btn1 a {
  font-size: 1rem;
  color: #000000;
}

.btn1:hover {
  background: var(--main-color);
  color: #fff;
  border-radius: 14px;
  /* background:#8fc53d ; */
}

.btn2 {
  padding: 10px 14px;
  background: var(--main-color);
  color: #fff;
  border-radius: 5px;
  /* color: #000000; */
  cursor: pointer;
}

.btn2:hover {
  background: #8fc53d;
}

.heading {
  text-align: center;
}

.heading span {
  /* font-size: 14px; */
  font-weight: 500;
  color: var(--main-color);
  text-transform: uppercase;
}

.heading h5 {
  color: #8fc53d;
}

.shop-container,
.new-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1rem;
  margin-top: 2rem;
}
.cart{
  position: fixed;
  top:0;
  right:-100%;
  width:400px;
  max-height: 100vh;
  min-height: 100vh;
  padding: 20px;
  background-color: #fff;
  overflow: hidden;
  overflow-y: auto !important;
  opacity: 0.95;
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.5s;
  /* ::-webkit-scrollbar{ 
    width: 15px !important;
  }
    ::-webkit-scrollbar-track{
    background:#edecea  !important;
  }
  ::-webkit-scrollbar-thumb{
    background: #fff  !important;  
    border-radius: 10px  !important;
  } */
}
.cart.active{
  right: 0;
}
.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  
}
.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap:1rem;
  margin-top: 1rem;
}
.cart-img{
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.detail-box{
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title{
  font-size:1rem;
  text-transform: uppercase;
}
.cart-price{
  font-weight: 500;
}
.cart-quantity{
  border-radius: 5px;
  border:1px solid var(--text-color);
  outline-color: var(--main-color);
  width: 3rem;
  text-align: center;
  font-size: 1rem;
}
.cart-remove{
  font-size:24;
  color:red;
  cursor: pointer;
}
.cart-total{
  display:flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top:1px solid var(--text-color);
}
.cart-total-title{
  font-weight: 600;
  font-size: 1rem;
}.cart-btn
.totalprice{
  margin-left: 0.5rem;
}
.cart-btn{
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: var(--main-color);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}
.cart-btn:hover{
  background: #000;
}
#close-cart{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}
.rating-star{
  /* text-align: left; */
  /* min-height: 50vh; */
  display: flex;
  text-align: left;
  align-items:center; 
  justify-content: center;
  /* background: hsl(137, 46%, 24%); */
  font-family: "Poppins", sans-serif;
}
  
.star {
  font-size: 7vh;
  cursor: pointer;
}
 
.one {
  color: rgb(255, 0, 0);
}
 
.two {
  color: rgb(255, 106, 0);
}
 
.three {
  color: rgb(251, 255, 120);
}
 
.four {
  color: rgb(255, 255, 0);
}
 
.five {
  color: rgb(24, 159, 14);
}


.box {
  position: relative;
  box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.1);
  border: 4px solid rgba(255, 255, 255, 0);
  border-radius: 44px 4px 4px 4px;
}

.box .box-img {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 44px 4px 0 0;
}

.box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.box .box-img img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.title-price {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.title-price h3 {
  font-size: 1rem;
  font-weight: 600;
}

.box span {
  font-size: 1.1rem;
  font-weight: 500;
  /* padding-left: 12px; */
  color: var(--main-color);
}

.stars .bx {
  color: gold !important;
}

.box .bx-cart1 {
  position: absolute;
  width: 10%;
  height: 7%;
  bottom: 0;
  right: 0;
  padding: 7px;
  font-size: 15px;
  color: #fff;
  border-radius: 4px 0 4px 0;
  background: var(--main-color);
  cursor: pointer;
}
.box .bx-cart1 .bx-cart{
  font-size: 20px;
}
.box .bx-cart1:hover {
  background: #8fc53d;
}

.items {
  display: flex;
  align-items: center;
  /* justify-content: ; */
}

.items li a {
  cursor: pointer;
  font-size: 18px;
  padding: 0 10px;
  color: #000
}

.items li a:hover {
  text-decoration: solid black;
  color: #83b735;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner img {
  border-radius: 7px;
  /* box-shadow: 5px black; */
  width: 1100px;
  /* height: 800px; */
  /* max-width: 100%; */
  height: auto;
}

.banner-text {
  position: absolute;
  text-align: center;
  top: 25%;
  color: #fff;
  padding: 10px;

}

.banner-text h2 {

  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
}

.banner-text .tryaug {
  font-size: 23px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 15px 25px;
  border-radius: 50px;
  transition: all ease-in-out 0.3s;
}

.banner-text .tryaug:hover {
  background-color: var(--main-color);
  color: #000;
}

#col {
  color: var(--main-color)
}

.block {
  width: 10px;
  height: 10px;
}

.card-body {
  background-color: rgb(217 217 217);
  color: lightslategrey;
}

.reviewstyle {
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  /* border: 2px solid black ; */
  border-radius: 12px;
  background-color: rgb(217 217 217);
  font-size: 5px;

}

#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.testimonial-box-container {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #a8a5a5; */
  /* flex-wrap: wrap; */
  width: 100%;
}

.testimonial-box {
  width: 500px;
  height: 350px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.name-user span {
  color: #979797;
  font-size: 0.8rem;
}

.reviews {
  color: #f9d71c;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment{
  text-align: left;
}
.client-comment p {
  font-size: 0.9rem;
  color: #4b4b4b;
}

.testimonial-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

.tes {
  margin-top: 50px;
  padding: 0px;
  width: 100%;
}

.newsletter-content {
  padding: 1rem 0;
}

.newsletter-content .form-control {
  border: none;
  background-color: #f8f8f8;
  height: 60px;
  padding: 0 2rem;
  outline: 0;
  width: 100%;
}

.newsletter-content .input-group {
  max-width: 730px;
  border-radius: 2.95rem;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-content .btn {
  padding: 0 3.5rem;
}

.newsletter-rev {
  /* align-items: center; */
  width: 100%;
  margin-bottom: 20px;
  height: 150px;
  padding: 12px 20px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#onlyphone {
  display: none;
  width: 100%;
  margin-bottom: 20px;
  height: 150px;
  padding: 12px 20px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;

}

.news-rev {
  display: flex;
  align-items: center;
  /* padding: 0 0 20px; */
}

.footer-dark {
  width: 100%;
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

.swiper {
  width: 120%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 33.33%;
}

.footer-dark .item.social>a {
  padding: 3px;
  font-size: 39px;
  width: 46px;
  height: 46px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social>a:hover {
  opacity: 0.9;
}

.footer-dark .item.social .facebook:hover {
  /* opacity:0.9; */
  color: #316FF6;
}

.footer-dark .item.social .twitter:hover {
  /* opacity:0.9; */
  color: #1DA1F2;
}

.footer-dark .item.social .google:hover {
  /* opacity:0.9; */
  color: #DB4437
}

.footer-dark .item.social .instagram:hover {
  /* opacity:0.9; */
  color: pink;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }

  section {
    padding: 50px 4%;
  }

  .news-rev {
    padding: 0 150px 20px;
  }
  .cart{
    width: 40%;
  }
}

@media (max-width: 881px) {
  .home_text h1 {
    font-size: 2rem;
  }

  .shop-container {
    grid-template-columns: repeat(auto-fit, minmax(218px, auto));
  }
}

@media (max-width: 768px) {
  header {
    padding: 11px 4%;
  }

  #menu-icon {
    display: initial;
  }

  header .navbar {
    position: absolute;
    /* width: 100%; */
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 4px rgb(0 0 0 /10%);
    transition: 0.6s ease;
    text-align: center;
  }

  .navbar a {
    padding: 1.5rem;
    display: block;
  }

  .navbar.active {
    top: 100%;
  }

  .navbar a:hover {
    color: #fff;
    background: var(--main-color);
  }

  .box-img {
    padding: 1rem;
    order: 2;
  }

  .banner img {
    width: 100%;
    height: 250px;
  }

  .banner h2 {
    font-size: 3rem;
  }

  .banner-text .tryaug {
    font-size: 18px;
  }

  .newsletter-content .btn {
    padding: 0 0.7rem;
    font-size: 12px;
  }

  .newsletter-rev {
    width: 380px;
    padding: 0 0;
  }

  .news-rev {
    display: block;
  }

  .news-rev {
    display: none;
  }

  #onlyphone {
    display: block;
  }
  .star {
    font-size: 5vh;
  }
  .cart{
    width: 70%;
  }
  .cart-product-title{
    font-size:0.9rem;
  }
  .info-user h4{
    font-size: 20px;
    font-weight: 400;
  }
  .info-user img{
    width: 40px;
    height: 40px;
  }
  .sub-menu-link i{
    font-size: 25px;
    
  }
  .sub-menu-link p{
    font-size: 15px;
  }
  .sub-wrap{
   width: 270px;
  }

}

@media (max-width: 491px) {
  .shop-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }

}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

@media only screen and (min-width:1160px) {

  /* .testimonial-box.container{
    flex-wrap: wrap;
  }
  .testimonial-box{
      width:45%;
      padding: 10px;
     
  } */
  .news-rev {
    padding: 0 150px 20px;
  }
}

@media(max-width:790px) {
  .testimonial-box {
    width: 93%;
    flex-wrap: wrap;
  }
}

@media(max-width:790px) {

  .home {
    width: 100%;
    /* background-image: url("/img/background2.png"); */
  }

  .home_txt h1 {
    font-size: 31px;
    margin-bottom: 10px;
  }

  .home_txt p {
    font-size: 14px;
  }
}

@media(max-width:340px) {
  .box-top {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .reviews {
    margin-top: 10px;
  }
}

::selection {
  color: #ffffff;
  background-color: #252525;
}

/* Custom scrollbar */
::-webkit-scrollbar{ 

  width: 15px;
}
  ::-webkit-scrollbar-track{

  background:#edecea;
  
}
  
::-webkit-scrollbar-thumb{
  
  background: #83b735;
  
  border-radius: 10px;
}

